{% extends "public/layout/base.html" %}

{% block content %}

<!-- if you use the ListView then the object name will be object_list-->
<div class="jumbotron">
{% for dr in dreamreal_objects %}
    
    <li>{{ dr.name }}</li>
{% endfor %}


</div>

<div class="jumbotron">
    {% for dr in dreamreal_objects %}
        
        <li>{{ dr.website }}</li>
    {% endfor %}
    
    
    </div>


    <div class="jumbotron">
        {% for dr in dreamreal_objects %}
            
            <li>{{ dr.online }}</li>
        {% endfor %}
        
        
        </div>
{% endblock %}

